.container {
  display: flex;
  justify-content: center;
}

.cocktail-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: 600;
}

label::after {
  content: ":";
}

input,
textarea {
  border-radius: 5px;
}

textarea {
  resize: vertical;
  overflow: auto;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.cocktail-form textarea {
  max-width: 98.5%;
  min-width: 98.5%;
}

@media (max-width: 760px) {
  .cocktail-form {
    width: 100%;
  }
}
