.new-cocktail {
  width: 100%;
  min-height: 5rem;
  background-color: rgb(131, 190, 204);
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  width: 50%;
}
